<%- include ../partials/header.html %>


<div  class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        <form  action="/vehicle_document/addvehicledoc" enctype="multipart/form-data" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= vehicledoc._id %>" >
            <a style="float:right; margin-top: 10px;" class="btn btn-secondary" href="/vehicle_document/list"><i class="fa fa-list-alt"></i> View All</a>
            <h2><b><%= viewTitle %></h2><hr style="color:cornflowerblue; border:solid">

            
                <div   class="row">
                        <div class="col-md-6">
                             <div class="form-group">
                           
                            <label>Vehicle Id</label>
                            <!-- <input type="text" class="form-control" name="vehicle_id" value="<%= vehicledoc ? vehicledoc.vehicle_id : '' %>"> -->
                            <select name="vehicle_id" class="form-control" >
                                <option value="" selected disabled>-- Select --</option>
                                <% vehicle.forEach(function(veh){%>
                                <option <% if(vehicledoc.vehicle_id==veh._id){ %>selected="selected" <% }%> value="<%=veh._id%>"><%=veh.model_name%></option>
                                <% })%>
                            </select>
                        </div>
                    </div>
                    


 
                        
                    <div class="col-md-6">
                        <div class="form-group ">
                                <label>Registration Type</label>
                                <input type="text" class="form-control" name="registration_type"   value="<%= vehicledoc ? vehicledoc.registration_type : '' %>">                          
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                                <label>Registration No</label>
                                <input type="text" class="form-control" name="registration_no"   value="<%= vehicledoc ? vehicledoc.registration_no : '' %>">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                                <label>Registration Date</label>
                                <input type="date" class="form-control" name="registration_date"  value="<%= vehicledoc ? vehicledoc.registration_date : '' %>">                            
                        </div>
                    </div>

                    <div class="col-md-6">
                            <div class="form-group  ">
                                    <label>Expiry Date</label>
                                    <input type="date" class="form-control" name="expiry_date"   value="<%= vehicledoc ? vehicledoc.expiry_date : '' %>">                            
                            </div>
                        </div>
                    
                    <div class="col-md-12">
                            <div class="form-group ">              
                                        <div  class="file-tab">
                                        <label>Image</label>
                                        <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="loadFile()"  required="required" value="<%= vehicledoc ? vehicledoc.image : '' %>" >                    
                                        <img id="output"<% if(vehicledoc){ if(vehicledoc.image==null)
                                            {%> src="<%= baseurl %>/myimages/no_image.jpg"<% }else{ %> src="<%= baseurl %>/uploads/<%= vehicledoc.image %>"<% } }else{ %> src="<%= baseurl %>/images/no_image.jpg" <% } %> style=" max-width: 100px; max-height: 100px;/>
                                    
                                        </div>
                                </div>
                    </div>
                
                
             
                    <div class="col-md-12">
                        
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                          
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
    </div>

    <%- include ../partials/footer.html %>

<script type="text/javascript">
    function validatePassword()
    {
    var a = document.getElementById("password").value;
    //alert(a.length);
    if ((a.length < 6) || (a.length > 10))
    {
    alert("Your Password must be 6 to 10 Character");
    return false;
    }else{
      return true;
    }
  }
    </script>

<script>
        function loadFile()  {
          var fileInput = document.getElementById('image');
          var filePath = fileInput.value;
          var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
        if(!allowedExtensions.exec(filePath)){
            alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
            fileInput.value = '';
            return false;
        }else{
            //Image preview
            if (fileInput.files && fileInput.files[0]) {
              var reader = new FileReader();             
                reader.onload = function(){
                  var output = document.getElementById('output');
                  output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
              
              };
        }
        }
            </script>
