{{> header }}
<h3><a class="btn btn-secondary" href="/vehicle_document"><i class="fa fa-plus"></i> Create New</a> Vehicle List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Vehicle Id</th>
            <th>Image</th>
            <th>Registration Type</th>
            <th>Registration No</th>
            <th>Registration Date</th>
            
            
            <th>Expiry Date</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.vehicle_id}}</td>
            <td>{{this.image}}</td> 
            <td>{{this.registration_type}}</td>
            <td>{{this.registration_no}}</td>
            <td>{{this.registration_date}}</td>
            <td>{{this.expiry_date}}</td>
            <td>
                <a href="/vehicle_document/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/vehicle_document/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> footer }}