<%- include ../partials/header.html %>


<div class="driveradd">
<div class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        
            <form action="/driver/adddriver" method="POST" novalidate enctype="multipart/form-data" autocomplete="off">
                <input type="hidden" name="_id" value="<%= driver._id %>" >
                <a style="float:right; margin-top: 20px;" class="btn btn-secondary" href="/driver/list"><i class="fa fa-list-alt"></i> View All</a>
                <h2 style="display: inline-block;"><b><%= viewTitle %></h2> <hr  style="color:cornflowerblue; border:solid" >

            
                <div   class="row">
                    <div class="col-md-6">
                        <div class="form-group field">
                            <label>Full Name <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" name="fullName" onkeypress="return blockother(event)" value="<%= driver ? driver.fullName : '' %>" required="required">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group field">
                            <label>Mobile <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" name="user_mobile"  value="<%= driver ? driver.user_mobile : '' %>" maxlength="10" minlength="10" pattern="^[6-9]\d{9}$" onkeypress="return blockChar(event)" required="required">
                        </div>
                    </div>
                        
                    <div class="col-md-6">
                        <div class="form-group field">
                            <label>Email <span style="color:red;">*</span></label>
                            <input type="text" class="form-control"  name="email" onblur="ValidateEmail()"  onkeyup="this.value=this.value.replace(/[ ]/g,'');" value="<%= driver ? driver.email : '' %>" required="required">                       
                        </div>
                    </div>

                   

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Driver No</label>
                            <input type="text" class="form-control" name="dl_no"  value="<%= driver ? driver.dl_no : '' %>">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Driver Expiry Date</label>
                            <input type="date" class="form-control" name="dl_expiry" value="<%= driver ? driver.dl_expiry : '' %>">                         
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" name="dob"  value="<%= driver ? driver.dob : '' %>">                      
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Date of Joining</label>
                            <input type="date" class="form-control" name="doj" value="<%= driver ? driver.doj : '' %>">                    
                        </div>
                    </div>

                        
                    <div class="col-md-6">
                            <div class="form-group  field">
                                <label>Adhaar Card <span style="color:red;">*</span></label>
                                <input type="text" class="form-control" required="required" maxlength="12" minlength="12"  onkeyup="this.value = this.value.replace (/\D/g, '')" name="adhaar_card" id="adhaar_card" onblur="AadharValidate();" value="<%= driver ? driver.adhaar_card : '' %>">                   
                            </div>
                        </div>
                    

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username"  value="<%= driver ? driver.username : '' %>">
                
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Permanent Address</label>
                            <textarea rows="6" cols="6" type="text" id="permanent_address" name="permanent_address"   class="form-control " ><%= driver ? driver.permanent_address : '' %></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                            <div class="form-group  ">
                                <label>Present Address</label>                               
                                <textarea rows="6" cols="6" type="text" id="present_address" name="present_address"  class="form-control"  ><%= driver ? driver.present_address : '' %></textarea>
                                <input type="checkbox" name="checkadd" onclick="filladdress(this.form)"><h6 style="display: inline-block; margin-left: 5px; margin-top: 0;" >Same as Permanent Address</h6>
                            </div>
                                   
                        </div>

                        <div class="col-md-12">
                            <div class="form-group field">              
                                        <div  class="file-tab">
                                        <label>Driver Image <span style="color:red;">*</span></label>
                                        <input type="file" class="form-control" id="dl_pic" name="dl_pic" accept="image/*" onchange="preView()"   <% if(driver && driver.dl_pic && driver.dl_pic!=''){  }else {%> required="required"<% }%> > 
                                        <input type="hidden" name="update_dl_pic" value="<%= driver ? driver.dl_pic : '' %>">                   
                                        <img id="preview"<% if(driver){ if(driver.dl_pic==null)
                                            {%> src="<%= baseurl %>/images/no_image.jpg"<% }else{ %> src="<%= driver.dl_pic %>"<% } }else{ %> src="<%= baseurl %>/images/no_image.jpg" <% } %> style=" max-width: 100px; max-height: 100px;/>
                                         
                                        </div>
                                </div>
                        </div>


                    <div class="col-md-12">
                            <div class="form-group field">              
                                        <div  class="file-tab">
                                        <label>Image <span style="color:red;">*</span></label>
                                        <input type="file" class="form-control" id="user_image" name="user_image" accept="image/*" onchange="loadFile()"  <% if(driver && driver.user_image && driver.user_image!=''){  }else {%> required="required"<% }%> >                    
                                        <input type="hidden" name="update_user_image" value="<%= driver ? driver.user_image : '' %>">
                                        <img id="output"<% if(driver){ if(driver.user_image==null)
                                            {%> src="<%= baseurl %>/images/no_image.jpg"<% }else{ %> src="<%= driver.user_image %>"<% } }else{ %> src="<%= baseurl %>/images/no_image.jpg" <% } %> style=" max-width: 100px; max-height: 100px;/>
                                           
                                        </div>
                                </div>
                    </div>  
                    
                </div>
                                    
                   


                    <div class="col-md-12"><br>
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                           
                        </div>
                    </div>
                </form>
                </div>
           
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </div>
   
    <%- include ../partials/footer.html %>
    <%- include ../formvalidator/formvalidator.html %>


    <!-- <script type="text/javascript">
        function AadharValidate() {
            var aadhar = document.getElementById("adhaar_card").value;
            var adharcardTwelveDigit = /^\d{12}$/;
            var adharSixteenDigit = /^\d{16}$/;
            if (aadhar != '') {
                if (aadhar.match(adharcardTwelveDigit)) {
                    return true;
                }
                else if (aadhar.match(adharSixteenDigit)) {
                    return true;
                }
                else {
                    alert("Enter valid Aadhar Number");
                    return false;
                }
            }
        }

      
        </script> -->
    
    <script>
    function filladdress(f) {
      if(f.checkadd.checked == true) {
        f.present_address.value = f.permanent_address.value;
       
      }
    }
    </script>
    <script>
      function loadFile()  {
        var fileInput = document.getElementById('user_image');
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
      if(!allowedExtensions.exec(filePath)){
          alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
          fileInput.value = '';
          return false;
      }else{
          //Image preview
          if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();             
              reader.onload = function(){
                var output = document.getElementById('output');
                output.src = reader.result;
              };
              reader.readAsDataURL(event.target.files[0]);
            
            };
      }
      }
          </script>
          <script>
            function preView()  {
              var fileInput = document.getElementById('dl_pic');
              var filePath = fileInput.value;
              var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
            if(!allowedExtensions.exec(filePath)){
                alert('Please upload file having extensions .jpeg/.jpg/.png  only.');
                fileInput.value = '';
                return false;
            }else{
                //Image preview
                if (fileInput.files && fileInput.files[0]) {
                  var reader = new FileReader();             
                    reader.onload = function(){
                      var output = document.getElementById('preview');
                      output.src = reader.result;
                    };
                    reader.readAsDataURL(event.target.files[0]);
                  
                  };
            }
            }
                </script>

<script type="text/javascript">
    function  blockother(e){
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 32);
        }
    </script>
     <script type="text/javascript">
        function blockChar(e){
            var k;
            document.all ? k = e.keyCode : k = e.which;
            return (k >= 48 && k <= 57);
            }
        </script> 

<script>
    
function ValidateEmail() 
{
    var $email = $('form input[name="email'); //change form to id or containment selector
var re = /[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}/igm;
if ($email.val() == '' || !re.test($email.val()))
{
    alert('Please enter a valid email address.');
    return false;
}
}
</script>


        
    

    