{{> header }}
<h3>{{viewTitle}}</h3>

<form action="/driver" method="POST" enctype="multipart/form-data" autocomplete="off">
    <input type="hidden" name="_id" value="{{driver._id}}">

    <div class="form-row">
    <div class="form-group col-md-6">
        <label> Name</label>
        <input type="text" class="form-control" name="name" value="{{driver.name}}">
        
    </div>

    <div class="form-group col-md-6 ">
        <label>Mobile</label>
        <input type="text" class="form-control" name="mobile"  value="{{driver.mobile}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Email</label>
        <input type="text" class="form-control" name="email"  value="{{driver.email}}">
        </div>

         <div class="form-group col-md-6 ">
        <label>Image</label>
        <input type="file" class="form-control" name="image"  value="{{driver.image}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Driver No</label>
        <input type="text" class="form-control" name="dl_no"  value="{{driver.dl_no}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Driver Expiry Date</label>
        <input type="date" class="form-control" name="dl_expiry" value="{{driver.dl_expiry}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Date of Birth</label>
        <input type="date" class="form-control" name="dob"  value="{{driver.dob}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Date of Joining</label>
        <input type="date" class="form-control" name="doj"   value="{{driver.doj}}">
        </div>

        <div class="form-group col-md-6 ">
        <label>Adhaar Card</label>
        <input type="text" class="form-control" name="adhaar_card" value="{{driver.adhaar_card}}">
        </div>

         <div class="form-group col-md-6 ">
        <label>Permanent Address</label>
         <textarea rows="6" cols="6" type="text" id="permanent_address" name="permanent_address"  class="form-control col-md-7 col-xs-12" value="{{driver.permanent_address}}"></textarea>
        </div>

        <div class="form-group col-md-6 ">
        <label>Present Address</label>
        <textarea rows="6" cols="6" type="text" id="present_address" name="present_address"  class="form-control col-md-7 col-xs-12" value="{{driver.present_address}}"></textarea>
        </div>
        



</div>
  
  
        
  

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/driver/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>


