<%- include ../partials/header.html %>


<div class="driveradd">
<div class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        
            <form action="/payment/addpayment" novalidate method="POST"  autocomplete="off">
                <input type="hidden" name="_id" value="<%= payment._id %>" >
                <a style="float:right; margin-top: 10px;" class="btn btn-secondary" href="/payment/list"><i class="fa fa-list-alt"></i> View All</a>
                <h2><b><%= viewTitle %></h2><hr style="color:cornflowerblue; border:solid">

            
                <div   class="row">
                    
                    <div class="col-md-6 ">
                            <div class="form-group field">
                            <label>Trip Id <span style="color:red">*</span></label>
                            <select name="trip_id" class="form-control" required="required" >
                                <option value="" selected disabled>-- Select --</option>
                                <% trip.forEach(function(trp){%>
                                <option <% if(payment.trip_id==trp._id){ %>selected="selected" <% }%> value="<%=trp._id%>"><%=trp.to_name%></option>
                                <% })%>
                            </select>
                            </div>
                        </div>

                    <div class="col-md-6">
                        <div class="form-group field">
                                <label>Payment Amount <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="payment_amount"  value="<%= payment ? payment.payment_amount : '' %>" required="required" >
                        </div>
                    </div>
                        
                  

                    <div class="col-md-6 ">
                            <div class="form-group field">
                            <label>Coupon Code Id <span style="color:red">*</span></label>
                            <select name="coupon_code_id" class="form-control" required="required" >
                                <option value="" selected disabled>-- Select --</option>
                                <% cupon.forEach(function(cup){%>
                                <option <% if(payment.coupon_code_id==cup._id){ %>selected="selected" <% }%> value="<%=cup._id%>"><%=cup.coupon_code%></option>
                                <% })%>
                            </select>
                            </div>
                        </div>

                    <div class="col-md-6">
                            <div class="form-group ">
                                    <label>Discount Amount</label>
                                    <input type="text" class="form-control" name="discount_amount"  value="<%= payment ? payment.discount_amount : '' %>" >                    
                            </div>
                        </div>

                    <div class="col-md-6">
                        <div class="form-group  field">
                                <label>Total Payment <span style="color:red">*</span></label>
                                <input type="text" class="form-control" name="total_payment"  value="<%= payment ? payment.total_payment : '' %>" required="required">
                        </div>
                    </div>

                    
                    <div class="col-md-6 ">
                            <div class="form-group  ">
                            <label>Payment Mode</label>          
                        <select name="payment_mode"  class="form-control"> 
                
                            <option value="" selected disabled>--Select Type--</option>
                            <option value="Cash" <% if(payment.payment_mode=='Cash'){%> selected="selected" <%}  %> >Cash</option>
                            <option value="Online" <% if(payment.payment_mode=='Online'){%> selected="selected" <%}  %> >Online</option>
                    
                        </select>    
                        </div>             
                    </div>

                        
                    <div class="col-md-6">
                            <div class="form-group  ">
                                    <label>Payment Getway</label>
                                    <input type="text" class="form-control" name="payment_getway"  value="<%= payment ? payment.payment_getway : '' %>">                   
                            </div>
                        </div>

                    <div class="col-md-6">
                            <div class="form-group field ">
                                    <label>Transaction Id <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="transaction_id"  value="<%= payment ? payment.transaction_id : '' %>" required="required">
                   
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="form-group  ">
                                        <label>Payment Date</label>
                                        <input type="date" class="form-control" name="payment_date"  value="<%= payment ? payment.payment_date : '' %>">
                       
                                </div>
                            </div>
                   
                        
                    
                
             
                    <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                            
                        </div>
                    </div>
                </form>
                </div>
           
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    </div>
   
    <%- include ../formvalidator/formvalidator.html %>
    <%- include ../partials/footer.html %>
    