<%- include ../partials/header.html %>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div  class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        <form  action="/user" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= user._id %>" >
            <a style="float:right; margin-top: 20px;" class="btn btn-secondary" href="/user/list"><i class="fa fa-list-alt"></i> View All</a>
            <h2 style="display: inline-block;"><b><%= viewTitle %></h2> <hr  style="color:cornflowerblue; border:solid" >
               
            
                <div   class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                        <label>User Name</label>
                        
                        <input type="text" class="form-control" name="username"  value="<%= user ? user.username : '' %>">
                      
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                        <label>Password</label>
                        <input type="password" onblur="validatePassword();" class="form-control" id="password" name="password" value="<%= user ? user.hash : '' %>">
                        </div>
                    </div>
                        
                    <div class="col-md-6">
                        <div class="form-group ">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="fullName"   value="<%= user ? user.fullName : '' %>">                        
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                        <label>Type</label>
                        <input type="text" class="form-control" name="user_type"   value="<%= user ? user.user_type : '' %>">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                        <label>User Mobile</label>
                        <input type="text" class="form-control" name="user_mobile" maxlength="10"    value="<%= user ? user.user_mobile : '' %>">                            
                        </div>
                    </div>
                    
                    
                
             
                    <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
    </div>

    <%- include ../partials/footer.html %>
   

<script type="text/javascript">
    function validatePassword()
    {
    var a = document.getElementById("password").value;
    //alert(a.length);
    if ((a.length < 6) || (a.length > 10))
    {
    alert("Your Password must be 6 to 10 Character");
    return false;
    }else{
      return true;
    }
  }
    </script>