<%- include ../partials/header.html %>
<h3><a class="btn btn-secondary" href="/user"><i class="fa fa-plus"></i> Create New</a> User List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL NO</th>
            <th>User Name</th>
            <!-- <th>Password</th> -->
            <th>Full Name</th>
           
            <th>User Mobile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% var i=1;
        list.forEach(function(val) { %>
        <tr>
            <td> <%= i %></td>
            <td><%= val.username %></td>
            <td><%= val.fullName %></td>
            <td><%= val.user_mobile %></td>
           
            <td>
                <a href="/user/<%= val._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/user/delete/<%= val._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        <% i++; }) %>
    </tbody>
</table>


<%- include ../partials/footer.html %>