<%- include ../partials/header.html %>


<div class="driveradd">
<div class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        
                    <form action="/coupon_discount" method="POST" novalidate autocomplete="off">
                        <input type="hidden" name="_id" value="<%= couponDis._id %>">
                        <a style="float:right; margin-top: 10px;" class="btn btn-secondary" href="/coupon_discount/list"><i class="fa fa-list-alt"></i> View All</a>
                        <h2><b><%= viewTitle %></h2><hr style="color:cornflowerblue; border:solid">
            
                <div   class="row">
                    <div class="col-md-6">
                        <div class="form-group field">
                                <label>Coupon Name*</label>
                                <input type="text" class="form-control" name="coupon_name" value="<%= couponDis ? couponDis.coupon_name : '' %>" required="required">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group field">
                                <label>Coupon Code*</label>
                                <input type="text" class="form-control" name="coupon_code"  value="<%= couponDis ? couponDis.coupon_code : '' %>" required="required">
                            </div>
                        </div>
                            
                        <div class="col-md-6">
                            <div class="form-group field">
                                <label>Coupon Amount*</label>
                                <input type="text" class="form-control" name="coupon_amount"  value="<%= couponDis ? couponDis.coupon_amount : '' %>" required="required" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">                       
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="form-group ">
                                    <label>Coupon Start Date</label>
                                    <input type="text" class="form-control" name="coupon_start_date" id="coupon_start_date"   value="<%= couponDis ? couponDis.coupon_start_date : '' %>">                    
                                </div>
                            </div>

                        <div class="col-md-6">
                            <div class="form-group  ">
                                <label>Coupon End Date</label>
                                <input type="text" class="form-control" name="coupon_end_date" id="coupon_end_date" value="<%= couponDis ? couponDis.coupon_end_date : '' %>">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group  ">
                                <label>Coupon Status</label>
                                <!-- <input type="text" class="form-control" name="coupon_status"   value="<%= couponDis ? couponDis.coupon_status : '' %>"> -->
                                <select name="coupon_status"  class="form-control"> 
                                    <!-- <option value="" selected disabled>--Select Type--</option> -->
                                    <option value="Active" <% if(couponDis.coupon_status=='Active'){%> selected="selected" <%}  %> >Active</option>
                                    <option value="Inactive" <% if(couponDis.coupon_status=='Inactive'){%> selected="selected" <%}  %> >Inactive</option>
                                </select> 
                            </div>
                        </div>

                        
                    
                        
                    
                
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                            
                        </div>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
   
    


    <script type="text/javascript">
        function AadharValidate() {
            var aadhar = document.getElementById("adhaar_card").value;
            var adharcardTwelveDigit = /^\d{12}$/;
            var adharSixteenDigit = /^\d{16}$/;
            if (aadhar != '') {
                if (aadhar.match(adharcardTwelveDigit)) {
                    return true;
                }
                else if (aadhar.match(adharSixteenDigit)) {
                    return true;
                }
                else {
                    alert("Enter valid Aadhar Number");
                    return false;
                }
            }
        }
    </script>
    
    <script>
    function filladdress(f) {
      if(f.checkadd.checked == true) {
        f.present_address.value = f.permanent_address.value;
       
      }
    }
    </script>
    

<%- include ../partials/footer.html %>
<%- include ../jqueryDatePicker/jquerydatepicker.html %>
<%- include ../formvalidator/formvalidator.html %>
<script>
$("#coupon_start_date","#coupon_end_date").keydown(function(event) {
    //alert(1)
    if(event.keyCode != 8){
        event.preventDefault();
    }
});
var dateToday = new Date();
var dates = $("#coupon_start_date, #coupon_end_date").datepicker({
    // defaultDate: "+1d",
    changeMonth: true,
    changeYear: true,
    dateFormat: 'yy-mm-dd',
    minDate: dateToday,
    onSelect: function(selectedDate) {    
        console.log(this)
        var option = this.id.indexOf("coupon_start_date") != -1 ? "minDate" : "maxDate",
        instance = $(this).data("datepicker"),
        date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
        dates.not(this).datepicker("option", option, date);
    }
});
</script>