<%- include ../partials/header.html %>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="driveradd">
<div  class="container"  >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-sm">

        <form  action="/vehicle" novalidate method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= vehicle._id %>" >
            <a style="float:right; margin-top: 10px;" class="btn btn-secondary" href="/vehicle/list"><i class="fa fa-list-alt"></i> View All</a>
            <h2><b><%= viewTitle %></h2><hr style="color:cornflowerblue; border:solid">

            
                <div   class="row">
                    <div class="col-md-6">
                        <div class="form-group field">
                            <label>Company Name*</label>
                            <input type="text" class="form-control" name="company" value="<%= vehicle ? vehicle.company : '' %>" required="required">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group field">
                            <label>Model Name*</label>
                            <input type="text" class="form-control" name="model_name"  value="<%= vehicle ? vehicle.model_name : '' %>" required="required">
                        </div>
                    </div>
                        
                    <div class="col-md-6">
                        <div class="form-group ">
                            <label>Model No</label>
                            <input type="text" class="form-control" name="model_no"  value="<%= vehicle ? vehicle.model_no : '' %>">                       
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Registration No</label>
                            <input type="text" class="form-control" name="registration_no"   value="<%= vehicle ? vehicle.registration_no : '' %>">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Registration Date</label>
                            <input type="date" class="form-control" name="registration_date"  value="<%= vehicle ? vehicle.registration_date : '' %>">                          
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label>Color</label>
                            <input type="text" class="form-control" name="color"   value="<%= vehicle ? vehicle.color : '' %>">                         
                        </div>
                    </div>
                    
                    <div class="col-md-6 ">
                        <div class="form-group ">
                        <label>Owner Id</label>
                        <!-- <input type="text" class="form-control" name="owner_id"   value="<%= vehicle ? vehicle.owner_id : '' %>"> -->
                        <select name="owner_id" class="form-control" >
                            <option value="" selected disabled>-- Select --</option>
                            <% owner_list.forEach(function(own){%>
                            <option <% if(vehicle.owner_id==own._id){ %>selected="selected" <% }%> value="<%=own._id%>"><%=own.fullName%></option>
                            <% })%>
                        </select>
                        </div>
                    </div>

                    
                
             
                    <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-database"></i> Submit</button>
                           
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        
    </div>
</div>
    <%- include ../partials/footer.html %>
    <%- include ../formvalidator/formvalidator.html %>

<script type="text/javascript">
    function validatePassword()
    {
    var a = document.getElementById("password").value;
    //alert(a.length);
    if ((a.length < 6) || (a.length > 10))
    {
    alert("Your Password must be 6 to 10 Character");
    return false;
    }else{
      return true;
    }
  }
    </script>