{{> header }}
<h3><a class="btn btn-secondary" href="/vehicle"><i class="fa fa-plus"></i> Create New</a> Vehicle List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Model Name</th>
            <th>Model No</th>
            <th>Color</th>
            <th>Registration No</th>
            <th>Registration Date</th>
            
            <th>Owner Id</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.company}}</td>
            <td>{{this.model_name}}</td> 
            <td>{{this.model_no}}</td>
            <td>{{this.color}}</td>
            <td>{{this.registration_no}}</td>
            <td>{{this.registration_date}}</td>
            <td>{{this.owner_id}}</td>
            <td>
                <a href="/vehicle/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/vehicle/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> footer }}