<%- include ../partials/header.html %>


<div class="table-list">
    <div class="row">
    
    
        <div class="col-md-12">

            <div class="panel panel-default panel-table">
              <div class="panel-heading pannerl-sec">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Vehicle List</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                  
                    <button><a class="btn btn-sm btn-primary btn-create"   href="/vehicle"></i> Create New</a></button>   
                  </div>
                </div>
              </div>
              <div class="panel-body table-responsive">
                <table class="table table-striped table-bordered table-list" id="myTable">
                  <thead>
                        <th>SL NO</th>
                        <th>Company Name</th>
                        <th>Model Name</th>
                        <th>Model No</th>
                        <th>Color</th>
                        <th>Registration No</th>
                        <th>Registration Date</th>
                        
                        <th>Owner Id</th>
                       
                        <th>Action</th>
                  </thead>
                  <tbody>
                        <% var i=1;
                        list.forEach(function(val) { %>
                    <tr>
                        <td> <%=  i %></td>
                        <td><%= val.company %></td>
                        <td><%= val.model_name %></td> 
                        <td><%= val.model_no %></td>
                        <td><%= val.color %></td>
                        <td><%= val.registration_no %></td>
                        <td><%= val.registration_date %></td>
                        <td><% owner_list.forEach(function(own) {
                            if(own._id==val.owner_id){ %>
                            <%= own.fullName %>
                            <% } }); %></td>
                        <td>
                            <a href="/vehicle/<%= val._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                            <a href="/vehicle/delete/<%= val._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <% i++; }) %>
                </tbody>
             </table>
            
              </div>
           
            </div>

</div></div></div>

<%- include ../partials/footer.html %>

<script>
    $(document).ready(function(){
        $('#myTable').dataTable();
    });
    </script>

