<%- include ../partials/header.html %>
<h3><a class="btn btn-secondary" href="/customer/add"><i class="fa fa-plus"></i> Create New</a> Customer List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL NO</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Image</th>            
            <th>Date of Birth</th>
            <th>Date of Joining</th>
            <th>City</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
            <% var i=1;
            list.forEach(function(val) { %>
        <tr>
                <td> <%= i %></td>
             <td><%= val.fullName %></td>
             <td><%= val.user_mobile %></td> 
             <td><%= val.email %></td>
             <td><%= val.user_image %></td>
            <!-- <td><img src="http://localhost:3000/uploads/<%= val.user_image %>"></td> -->
    
             <td><%= val.dob %></td> 
             <td><%= val.doj %></td>
             <td><%= val.city %></td> 
         
             <td></td> 
            <td>
                <a href="/customer/editcustomer/<%= val._id %>"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/customer/delete/<%= val._id %>" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        <% i++; }) %>
    </tbody>
</table>


<%- include ../partials/footer.html %>